.copy-button {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  svg:hover
  {
    transform: scale(.8);
  }
  .copy-button i {
    margin-left: 5px;
  }
  