@import "../index.scss";
::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    background: white;
   
  }
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: green;
  }
  
.contentsArea-patient{
    .cover{
        position: fixed;
        left: 0;
        top: 0;
        width: 260px;
        height: 50px;
        background-color: white;
        z-index: 1000;
    }
    display: flex;
    width: 70vw;
    height: 100%;
    margin: auto ;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url('https://t3.ftcdn.net/jpg/02/80/91/22/360_F_280912237_LwphjbCj0T79j8Qnirxeqzf6tjxKQz3b.jpg');
    background-size:cover;
    
}